<p>Título: {{livro.titulo | uppercase | lowercase | camelCase}}</p>
<p>Estrelas: {{livro.rating | number:'2.3'}}</p>
<p>Páginas: {{livro.numeroPaginas | number}}</p>
<p>Preço: {{livro.preco | currency:'BRL':true}}</p>
<p>Data Lançamento: {{livro.dataLancamento | date:'dd/MM/yyyy - HH:mm:ss'}}</p>
<p>Data Lançamento com locale: {{livro.dataLancamento | date }}</p>

<p>URL: {{livro.url}}</p>
<br>
<p>Livro: {{livro | json }}</p>

<br>
Filtro:
<br>
<input type="text" [(ngModel)]="filtro">
<br>
Novo valor:
<br>
<input type="text" #textoAdd>
<br>
<button (click)="livros.push(textoAdd.value)">Add</button>
<br>
<p>Pipe puro</p>
<ul>
  <li *ngFor="let l of livros | filtro:filtro">{{l}}</li>
</ul>
<p>Pipe IMPURO</p>
<ul>
  <li *ngFor="let l of livros | filtroImpuro:filtro">{{l}}</li>
</ul>
<p>Maneira correta de fazer filtros - NÃO USAR PIPES PARA ESSA FUNCIONALIDADE</p>
<ul>
  <li *ngFor="let l of obterCursos()">{{l}}</li>
</ul>